{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {% render 'icon-hamburger' %}
        {% render 'icon-close' %}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  <div class="icon_arrow">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="52"
                      height="26"
                      viewBox="0 0 52 26"
                      fill="none"
                    >
                      <path d="M36.3129 5.1753L36.3758 -1.35344e-06L51.8574 14.1502L36.0592 26L36.112 21.6158L-0.000234527 20.9356L0.200695 4.49752L36.3129 5.1753Z" fill="#8B0B00"/>
                      <path d="M36.5335 24.9975L51.0957 14.0951L36.8237 1.1543L36.7649 6.00709L0.815021 5.33183L0.63439 20.0968L36.5842 20.7721L36.5335 24.9975Z" fill="#DB1C0B"/>
                      <path d="M36.5973 7.01895C36.5932 7.37674 36.8246 7.67406 37.1128 7.67909C37.401 7.68413 37.6385 7.3969 37.6425 7.03911C37.6466 6.68133 37.4172 6.38401 37.129 6.37897C36.8408 6.37393 36.6014 6.66117 36.5973 7.01895Z" fill="#8B0B00"/>
                      <path d="M36.7363 6.91139C36.7323 7.19359 36.9149 7.42791 37.1443 7.43043C37.3736 7.43547 37.5603 7.20871 37.5644 6.92651C37.5684 6.64179 37.3858 6.40747 37.1564 6.40243C36.9271 6.39739 36.7404 6.62415 36.7363 6.90887L36.7363 6.91139Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M36.9787 6.72947C36.9787 6.8882 37.0802 7.0167 37.2061 7.01922C37.3339 7.01922 37.4374 6.89576 37.4395 6.73702C37.4395 6.58081 37.34 6.44979 37.2121 6.44727C37.0843 6.44727 36.9787 6.57073 36.9767 6.72947L36.9787 6.72947Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M37.2579 7.13815C37.2579 7.19106 37.2903 7.23389 37.333 7.23641C37.3756 7.23641 37.4121 7.1961 37.4121 7.14066C37.4121 7.08775 37.3776 7.04492 37.335 7.04492C37.2924 7.04492 37.2579 7.08523 37.2579 7.13815Z" fill="#FEC218"/>
                      </g>
                      <path d="M33.6637 6.96231C33.6596 7.3201 33.891 7.61742 34.1792 7.62246C34.4654 7.6275 34.7049 7.34026 34.7089 6.98247C34.713 6.62468 34.4816 6.32737 34.1954 6.32233C33.9073 6.31729 33.6678 6.60453 33.6637 6.96231Z" fill="#8B0B00"/>
                      <path d="M33.8046 6.85419C33.8005 7.13638 33.9832 7.37071 34.2125 7.37575C34.4399 7.38079 34.6306 7.15402 34.6347 6.87182C34.6388 6.5871 34.4541 6.35278 34.2247 6.34774C33.9974 6.3427 33.8087 6.56947 33.8046 6.85419Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M34.047 6.67283C34.047 6.83156 34.1485 6.96006 34.2743 6.96258C34.4022 6.96258 34.5077 6.83912 34.5098 6.68038C34.5098 6.52417 34.4083 6.39314 34.2825 6.39062C34.1546 6.39062 34.0491 6.51409 34.047 6.67283Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M34.3243 7.08151C34.3243 7.13442 34.3567 7.17725 34.4014 7.17977C34.444 7.17977 34.4765 7.13946 34.4785 7.08402C34.4785 7.03111 34.446 6.98828 34.4034 6.98828C34.3608 6.98828 34.3263 7.02859 34.3243 7.08151Z" fill="#FEC218"/>
                      </g>
                      <path d="M30.734 6.90763C30.73 7.26541 30.9613 7.56021 31.2495 7.56777C31.5377 7.57281 31.7752 7.28557 31.7792 6.92778C31.7833 6.57 31.554 6.27268 31.2637 6.26764C30.9755 6.2626 30.7381 6.54984 30.734 6.90763Z" fill="#8B0B00"/>
                      <path d="M30.8751 6.7995C30.871 7.0817 31.0516 7.31602 31.283 7.32106C31.5103 7.3261 31.6991 7.09933 31.7011 6.81713C31.7052 6.53242 31.5225 6.29809 31.2952 6.29305C31.0658 6.28801 30.8791 6.51478 30.8751 6.7995Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M31.1155 6.61813C31.1155 6.77687 31.2149 6.90537 31.3428 6.90789C31.4706 6.90789 31.5741 6.78443 31.5762 6.62569C31.5762 6.46948 31.4767 6.33846 31.3489 6.33594C31.221 6.33594 31.1155 6.4594 31.1134 6.61813L31.1155 6.61813Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M31.3927 7.02682C31.3927 7.07973 31.4272 7.12256 31.4678 7.12508C31.5104 7.12508 31.5449 7.08477 31.5449 7.02934C31.5449 6.97643 31.5124 6.93359 31.4698 6.93359C31.4292 6.93359 31.3927 6.97391 31.3927 7.02682Z" fill="#FEC218"/>
                      </g>
                      <path d="M27.7965 6.85294C27.7925 7.21073 28.0218 7.50552 28.31 7.51308C28.5982 7.51812 28.8357 7.23089 28.8417 6.8731C28.8458 6.51531 28.6144 6.218 28.3262 6.21296C28.036 6.20792 27.8006 6.49516 27.7965 6.85294Z" fill="#8B0B00"/>
                      <path d="M27.9355 6.74342C27.9315 7.02562 28.1141 7.25994 28.3415 7.26246C28.5708 7.2675 28.7595 7.04074 28.7636 6.75854C28.7677 6.47382 28.583 6.2395 28.3536 6.23446C28.1263 6.22942 27.9376 6.45619 27.9355 6.7409L27.9355 6.74342Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M28.178 6.56149C28.178 6.72023 28.2774 6.84873 28.4053 6.85125C28.5331 6.85125 28.6366 6.72779 28.6387 6.56905C28.6387 6.41284 28.5392 6.28182 28.4114 6.2793C28.2835 6.2793 28.178 6.40276 28.1759 6.56149L28.178 6.56149Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M28.4571 6.96822C28.4571 7.02114 28.4896 7.06397 28.5322 7.06649C28.5768 7.06649 28.6113 7.02618 28.6113 6.97075C28.6113 6.91783 28.5789 6.875 28.5342 6.875C28.4936 6.875 28.4591 6.91531 28.4571 6.96822Z" fill="#FEC218"/>
                      </g>
                      <path d="M24.8629 6.79826C24.8589 7.15604 25.0902 7.45336 25.3784 7.4584C25.6666 7.46343 25.9041 7.1762 25.9082 6.81841C25.9122 6.46063 25.6829 6.16331 25.3947 6.15827C25.1065 6.15323 24.867 6.44047 24.8629 6.79826Z" fill="#8B0B00"/>
                      <path d="M25.0038 6.68678C24.9998 6.96898 25.1845 7.2033 25.4138 7.20582C25.6411 7.21086 25.8299 6.9841 25.8339 6.7019C25.838 6.41718 25.6533 6.18286 25.426 6.17782C25.1987 6.17278 25.0079 6.39955 25.0038 6.68426L25.0038 6.68678Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M25.2482 6.50681C25.2482 6.66554 25.3477 6.79404 25.4756 6.79656C25.6034 6.79656 25.7069 6.6731 25.709 6.51436C25.711 6.35815 25.6115 6.22713 25.4816 6.22461C25.3558 6.22461 25.2503 6.34807 25.2482 6.50681Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M25.5235 6.91354C25.5235 6.96645 25.558 7.00928 25.6006 7.0118C25.6412 7.0118 25.6777 6.97149 25.6777 6.91606C25.6777 6.86315 25.6432 6.82031 25.6026 6.82031C25.56 6.82031 25.5255 6.86063 25.5235 6.91354Z" fill="#FEC218"/>
                      </g>
                      <path d="M21.9314 6.74161C21.9273 7.0994 22.1566 7.39672 22.4448 7.40175C22.733 7.40679 22.9705 7.11956 22.9746 6.76177C22.9786 6.40399 22.7472 6.10919 22.459 6.10163C22.1708 6.09659 21.9334 6.38383 21.9293 6.74161L21.9314 6.74161Z" fill="#8B0B00"/>
                      <path d="M22.0723 6.63014C22.0682 6.91234 22.2509 7.14666 22.4802 7.14918C22.7075 7.15422 22.8963 6.92746 22.9003 6.64526C22.9044 6.36054 22.7217 6.12622 22.4924 6.12118C22.263 6.11614 22.0743 6.34291 22.0702 6.62762L22.0723 6.63014Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M22.3167 6.45017C22.3167 6.6089 22.4141 6.7374 22.542 6.73992C22.6699 6.73992 22.7734 6.61646 22.7754 6.45772C22.7754 6.30151 22.6759 6.17049 22.5481 6.16797C22.4202 6.16797 22.3167 6.29143 22.3147 6.45017L22.3167 6.45017Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M22.594 6.8569C22.594 6.90981 22.6264 6.95264 22.667 6.95516C22.7096 6.95516 22.7441 6.91485 22.7441 6.85942C22.7441 6.80651 22.7117 6.76367 22.669 6.76367C22.6285 6.76367 22.594 6.80398 22.5919 6.8569L22.594 6.8569Z" fill="#FEC218"/>
                      </g>
                      <path d="M18.9939 6.68888C18.9898 7.04666 19.2171 7.34146 19.5073 7.34902C19.7955 7.35406 20.033 7.06682 20.0371 6.70903C20.0411 6.35125 19.8118 6.05645 19.5236 6.04889C19.2333 6.04385 18.9979 6.33109 18.9939 6.68888Z" fill="#8B0B00"/>
                      <path d="M19.1309 6.57936C19.1268 6.86156 19.3095 7.09588 19.5388 7.0984C19.7661 7.10344 19.9549 6.87668 19.9589 6.59448C19.963 6.30976 19.7803 6.07543 19.551 6.07039C19.3216 6.06536 19.1329 6.29212 19.1309 6.57684L19.1309 6.57936Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M19.3751 6.39743C19.3751 6.55617 19.4746 6.68467 19.6025 6.68719C19.7303 6.68719 19.8359 6.56373 19.8379 6.40499C19.8379 6.24877 19.7364 6.11775 19.6085 6.11523C19.4827 6.11523 19.3772 6.23869 19.3751 6.39743Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M19.6524 6.80417C19.6524 6.85708 19.6869 6.89991 19.7295 6.90243C19.7701 6.90243 19.8066 6.86212 19.8066 6.80668C19.8066 6.75377 19.7721 6.71094 19.7315 6.71094C19.6889 6.71094 19.6524 6.75125 19.6524 6.80417Z" fill="#FEC218"/>
                      </g>
                      <path d="M16.0621 6.63224C16.0581 6.99002 16.2895 7.28734 16.5777 7.29238C16.8638 7.29742 17.1033 7.01018 17.1074 6.65239C17.1114 6.29461 16.8801 5.99981 16.5939 5.99225C16.3037 5.98721 16.0662 6.27445 16.0621 6.63224Z" fill="#8B0B00"/>
                      <path d="M16.2012 6.52272C16.1971 6.80492 16.3818 7.03924 16.6091 7.04176C16.8364 7.0468 17.0252 6.82003 17.0292 6.53784C17.0333 6.25312 16.8506 6.01879 16.6233 6.01375C16.396 6.00871 16.2073 6.23548 16.2032 6.5202L16.2012 6.52272Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M16.4455 6.34079C16.4455 6.49953 16.5449 6.62803 16.6728 6.63055C16.7986 6.63055 16.9062 6.50709 16.9082 6.34835C16.9082 6.19213 16.8067 6.06111 16.6809 6.05859C16.553 6.05859 16.4475 6.18205 16.4455 6.34079Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M16.7247 6.74753C16.7247 6.80044 16.7572 6.84327 16.7998 6.84579C16.8424 6.84579 16.8749 6.80548 16.877 6.75004C16.877 6.69713 16.8445 6.6543 16.8019 6.6543C16.7592 6.6543 16.7247 6.69461 16.7227 6.74753L16.7247 6.74753Z" fill="#FEC218"/>
                      </g>
                      <path d="M13.1285 6.57755C13.1245 6.93533 13.3559 7.23265 13.6441 7.23769C13.9323 7.24273 14.1697 6.95549 14.1738 6.59771C14.1778 6.23992 13.9485 5.9426 13.6603 5.93757C13.3721 5.93253 13.1326 6.21976 13.1285 6.57755Z" fill="#8B0B00"/>
                      <path d="M13.2676 6.46746C13.2635 6.74966 13.4462 6.98399 13.6755 6.98903C13.9049 6.99407 14.0916 6.7673 14.0956 6.4851C14.0997 6.20038 13.917 5.96606 13.6877 5.96102C13.4583 5.95598 13.2696 6.18275 13.2676 6.46746Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M13.508 6.2861C13.508 6.44484 13.6094 6.57334 13.7373 6.57586C13.8652 6.57586 13.9687 6.4524 13.9707 6.29366C13.9707 6.13744 13.8713 6.00643 13.7434 6.00391C13.6176 6.00391 13.51 6.12737 13.508 6.2861Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M13.789 6.69674C13.789 6.74965 13.8235 6.79249 13.8641 6.79501C13.9067 6.79501 13.9412 6.75469 13.9433 6.69926C13.9453 6.64383 13.9088 6.60352 13.8662 6.60352C13.8256 6.60352 13.789 6.64383 13.789 6.69674Z" fill="#FEC218"/>
                      </g>
                      <path d="M10.197 6.52091C10.1929 6.87869 10.4223 7.17601 10.7105 7.18105C11.0007 7.18609 11.2361 6.89885 11.2402 6.54106C11.2442 6.18328 11.0169 5.88848 10.7267 5.88092C10.4385 5.87589 10.201 6.16312 10.197 6.52091Z" fill="#8B0B00"/>
                      <path d="M10.3379 6.41334C10.3338 6.69554 10.5165 6.92987 10.7438 6.93239C10.9731 6.93743 11.1619 6.71066 11.1659 6.42846C11.17 6.14374 10.9873 5.90942 10.756 5.90438C10.5287 5.89934 10.3399 6.1261 10.3359 6.41082L10.3379 6.41334Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M10.5822 6.23142C10.5822 6.39016 10.6816 6.51865 10.8095 6.52117C10.9374 6.52117 11.0429 6.39771 11.0449 6.23898C11.0449 6.08276 10.9455 5.95174 10.8176 5.94922C10.6897 5.94922 10.5862 6.07268 10.5842 6.23142L10.5822 6.23142Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M10.8574 6.63953C10.8574 6.69245 10.8919 6.73528 10.9345 6.7378C10.9771 6.7378 11.0137 6.69749 11.0137 6.64458C11.0137 6.59166 10.9792 6.54883 10.9365 6.54883C10.8939 6.54883 10.8594 6.58914 10.8574 6.64205L10.8574 6.63953Z" fill="#FEC218"/>
                      </g>
                      <path d="M7.25933 6.46622C7.25527 6.82401 7.48461 7.12132 7.77484 7.12636C8.06304 7.1314 8.3005 6.84416 8.30659 6.48638C8.31065 6.12859 8.07928 5.8338 7.79108 5.82624C7.50288 5.8212 7.26542 6.10843 7.26136 6.46622L7.25933 6.46622Z" fill="#8B0B00"/>
                      <path d="M7.39648 6.35866C7.39242 6.64085 7.57508 6.87518 7.80442 6.8777C8.03173 6.88274 8.22048 6.65597 8.22454 6.37377C8.2286 6.08906 8.04594 5.85473 7.8166 5.84969C7.58523 5.84465 7.39851 6.07142 7.39648 6.35613L7.39648 6.35866Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M7.64093 6.17673C7.64093 6.33546 7.74038 6.46396 7.86621 6.46648C7.99407 6.469 8.09758 6.34302 8.09961 6.18429C8.09961 6.02807 8.00016 5.89705 7.8723 5.89453C7.74646 5.89453 7.64092 6.01799 7.6389 6.17673L7.64093 6.17673Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M7.91802 6.58541C7.91802 6.63832 7.95049 6.68116 7.99311 6.68368C8.03573 6.68368 8.07024 6.64337 8.07227 6.58793C8.07227 6.53502 8.03776 6.49219 7.99514 6.49219C7.95252 6.49219 7.91802 6.5325 7.91802 6.58541Z" fill="#FEC218"/>
                      </g>
                      <path d="M4.32776 6.40958C4.3237 6.76737 4.55508 7.06216 4.84328 7.06972C5.13147 7.07476 5.36894 6.78752 5.37299 6.42974C5.37705 6.07195 5.14568 5.77464 4.85748 5.7696C4.56928 5.76456 4.33182 6.05179 4.32776 6.40958Z" fill="#8B0B00"/>
                      <path d="M4.46679 6.30202C4.46273 6.58421 4.64539 6.81854 4.87473 6.82106C5.10407 6.8261 5.2908 6.59933 5.29486 6.31713C5.29891 6.03242 5.11625 5.79809 4.88894 5.79305C4.6596 5.78801 4.47085 6.01478 4.46679 6.2995L4.46679 6.30202Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M4.71109 6.12009C4.71109 6.27882 4.81054 6.40732 4.9384 6.40984C5.06626 6.40984 5.1718 6.28638 5.17383 6.12765C5.17383 5.97143 5.07235 5.84041 4.94449 5.83789C4.81663 5.83789 4.71311 5.96135 4.71109 6.12009Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M4.98833 6.52877C4.98833 6.58168 5.0208 6.62452 5.06545 6.62704C5.10807 6.62704 5.14258 6.58673 5.14258 6.53129C5.14258 6.47838 5.1101 6.43555 5.06748 6.43555C5.02486 6.43555 4.99036 6.47586 4.98833 6.52877Z" fill="#FEC218"/>
                      </g>
                      <path d="M1.39417 6.35489C1.39011 6.71268 1.61742 7.01 1.90968 7.01504C2.19788 7.02008 2.43331 6.73284 2.4394 6.37505C2.44346 6.01726 2.21412 5.72247 1.92592 5.71491C1.63569 5.70987 1.40026 5.99711 1.3962 6.35489L1.39417 6.35489Z" fill="#8B0B00"/>
                      <path d="M1.5332 6.24733C1.52914 6.52953 1.7118 6.76385 1.94114 6.76637C2.16845 6.77141 2.3572 6.54464 2.36126 6.26245C2.36532 5.97773 2.18063 5.7434 1.95332 5.73836C1.72398 5.73332 1.53725 5.96009 1.5332 6.24481L1.5332 6.24733Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M1.77749 6.0654C1.77749 6.22414 1.87694 6.35264 2.0048 6.35516C2.13064 6.35516 2.2382 6.23169 2.24023 6.07296C2.24023 5.91674 2.13875 5.78572 2.01292 5.7832C1.88506 5.7832 1.77952 5.90666 1.77749 6.0654Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M2.05474 6.47408C2.05474 6.527 2.08721 6.56983 2.12983 6.57235C2.17245 6.57235 2.20898 6.53204 2.20898 6.47661C2.20898 6.42369 2.17448 6.38086 2.13186 6.38086C2.08924 6.38086 2.05474 6.42117 2.05474 6.47408Z" fill="#FEC218"/>
                      </g>
                      <path d="M36.445 19.6557C36.4409 20.0135 36.6723 20.3108 36.9605 20.3158C37.2487 20.3209 37.4861 20.0336 37.4902 19.6758C37.4942 19.318 37.2649 19.0232 36.9767 19.0157C36.6885 19.0107 36.449 19.2979 36.445 19.6557Z" fill="#8B0B00"/>
                      <path d="M36.5879 19.5481C36.5838 19.8303 36.7665 20.0646 36.9958 20.0671C37.2252 20.0722 37.4119 19.8454 37.4159 19.5632C37.42 19.2785 37.2373 19.0442 37.008 19.0391C36.7787 19.0341 36.5899 19.2609 36.5879 19.5481Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M36.8264 19.3662C36.8264 19.5249 36.9279 19.6534 37.0537 19.6559C37.1816 19.6559 37.2851 19.5325 37.2871 19.3737C37.2871 19.2175 37.1877 19.0865 37.0598 19.084C36.9319 19.084 36.8264 19.2074 36.8244 19.3662L36.8264 19.3662Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M37.1055 19.7743C37.1055 19.8272 37.138 19.87 37.1806 19.8726C37.2232 19.8726 37.2598 19.8323 37.2598 19.7793C37.2598 19.7264 37.2253 19.6836 37.1826 19.6836C37.14 19.6836 37.1055 19.7239 37.1055 19.7768L37.1055 19.7743Z" fill="#FEC218"/>
                      </g>
                      <path d="M33.5114 19.601C33.5073 19.9588 33.7387 20.2561 34.0269 20.2611C34.313 20.2662 34.5525 19.9789 34.5566 19.6211C34.5606 19.2634 34.3293 18.9686 34.0431 18.961C33.7549 18.956 33.5154 19.2432 33.5114 19.601Z" fill="#8B0B00"/>
                      <path d="M33.6523 19.4934C33.6482 19.7756 33.8309 20.0099 34.0602 20.0125C34.2875 20.0175 34.4783 19.7907 34.4824 19.5085C34.4864 19.2238 34.3017 18.9895 34.0724 18.9845C33.8451 18.9794 33.6563 19.2062 33.6523 19.4909L33.6523 19.4934Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M33.8947 19.3115C33.8947 19.4702 33.9962 19.5987 34.122 19.6012C34.2499 19.6012 34.3554 19.4778 34.3574 19.3191C34.3574 19.1628 34.2559 19.0318 34.1301 19.0293C34.0022 19.0293 33.8967 19.1528 33.8947 19.3115Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M34.1719 19.7202C34.1719 19.7731 34.2044 19.8159 34.249 19.8184C34.2917 19.8184 34.3241 19.7781 34.3262 19.7227C34.3262 19.6698 34.2937 19.627 34.2511 19.627C34.2085 19.627 34.174 19.6673 34.1719 19.7202Z" fill="#FEC218"/>
                      </g>
                      <path d="M30.5778 19.5483C30.5737 19.906 30.8051 20.2034 31.0933 20.2084C31.3815 20.2134 31.6189 19.9262 31.623 19.5684C31.6271 19.2106 31.3977 18.9133 31.1075 18.9083C30.8193 18.9032 30.5818 19.1905 30.5778 19.5483Z" fill="#8B0B00"/>
                      <path d="M30.7188 19.4382C30.7148 19.7204 30.8954 19.9547 31.1268 19.9597C31.3541 19.9648 31.5428 19.738 31.5449 19.4558C31.5489 19.1711 31.3663 18.9368 31.1389 18.9317C30.9096 18.9267 30.7229 19.1534 30.7188 19.4382Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M30.9592 19.2568C30.9592 19.4155 31.0587 19.544 31.1865 19.5466C31.3144 19.5466 31.4179 19.4231 31.4199 19.2644C31.4199 19.1081 31.3205 18.9771 31.1926 18.9746C31.0647 18.9746 30.9592 19.0981 30.9572 19.2568L30.9592 19.2568Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M31.2365 19.6635C31.2365 19.7164 31.271 19.7593 31.3115 19.7618C31.3542 19.7618 31.3887 19.7215 31.3887 19.6661C31.3887 19.6131 31.3562 19.5703 31.3136 19.5703C31.273 19.5703 31.2365 19.6106 31.2365 19.6635Z" fill="#FEC218"/>
                      </g>
                      <path d="M27.6442 19.4916C27.6401 19.8494 27.8695 20.1442 28.1577 20.1517C28.4459 20.1568 28.6853 19.8696 28.6894 19.5118C28.6935 19.154 28.4621 18.8592 28.1739 18.8516C27.8837 18.8466 27.6482 19.1338 27.6442 19.4916Z" fill="#8B0B00"/>
                      <path d="M27.7832 19.3815C27.7791 19.6637 27.9618 19.898 28.1891 19.9031C28.4185 19.9081 28.6072 19.6814 28.6113 19.3992C28.6153 19.1144 28.4306 18.8801 28.2013 18.8751C27.974 18.87 27.7852 19.0968 27.7832 19.3815Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M28.0256 19.2002C28.0256 19.3589 28.1251 19.4874 28.2529 19.4899C28.3808 19.4899 28.4843 19.3665 28.4863 19.2077C28.4863 19.0515 28.3869 18.9205 28.259 18.918C28.1312 18.918 28.0256 19.0414 28.0236 19.2002L28.0256 19.2002Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M28.3029 19.6069C28.3029 19.6598 28.3353 19.7026 28.3759 19.7052C28.4206 19.7052 28.4551 19.6649 28.4551 19.6094C28.4551 19.5565 28.4226 19.5137 28.378 19.5137C28.3353 19.5137 28.3029 19.554 28.3008 19.6069L28.3029 19.6069Z" fill="#FEC218"/>
                      </g>
                      <path d="M24.7106 19.4369C24.7065 19.7947 24.9379 20.092 25.2261 20.0971C25.5143 20.1021 25.7517 19.8149 25.7558 19.4571C25.7599 19.0993 25.5305 18.8045 25.2423 18.7969C24.9541 18.7919 24.7146 19.0791 24.7106 19.4369Z" fill="#8B0B00"/>
                      <path d="M24.8515 19.3254C24.8474 19.6076 25.0321 19.842 25.2615 19.8445C25.4888 19.8495 25.6775 19.6228 25.6816 19.3406C25.6856 19.0558 25.5009 18.8215 25.2736 18.8165C25.0463 18.8114 24.8555 19.0382 24.8515 19.3229L24.8515 19.3254Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M25.0959 19.1455C25.0959 19.3042 25.1954 19.4327 25.3232 19.4352C25.4511 19.4352 25.5546 19.3118 25.5566 19.153C25.5566 18.9968 25.4572 18.8658 25.3293 18.8633C25.2035 18.8633 25.098 18.9867 25.0959 19.1455Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M25.3711 19.5536C25.3711 19.6065 25.4056 19.6493 25.4483 19.6519C25.4889 19.6519 25.5254 19.6115 25.5254 19.5586C25.5254 19.5057 25.4909 19.4629 25.4503 19.4629C25.4077 19.4629 25.3732 19.5032 25.3711 19.5561L25.3711 19.5536Z" fill="#FEC218"/>
                      </g>
                      <path d="M21.777 19.3803C21.7729 19.7381 22.0023 20.0329 22.2905 20.0404C22.5787 20.0455 22.8161 19.7582 22.8222 19.4004C22.8263 19.0427 22.5949 18.7479 22.3067 18.7403C22.0185 18.7353 21.781 19.0225 21.777 19.3803Z" fill="#8B0B00"/>
                      <path d="M21.916 19.2708C21.9119 19.553 22.0946 19.7873 22.324 19.7898C22.5513 19.7948 22.74 19.5681 22.7441 19.2859C22.7481 19.0012 22.5655 18.7668 22.3361 18.7618C22.1068 18.7568 21.918 18.9835 21.914 19.2682L21.916 19.2708Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M22.1605 19.0888C22.1605 19.2476 22.2579 19.3761 22.3857 19.3786C22.5136 19.3786 22.6171 19.2551 22.6191 19.0964C22.6191 18.9402 22.5197 18.8092 22.3918 18.8066C22.264 18.8066 22.1605 18.9301 22.1584 19.0888L22.1605 19.0888Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M22.4377 19.4956C22.4377 19.5485 22.4702 19.5913 22.5108 19.5938C22.5534 19.5938 22.5879 19.5535 22.5879 19.4981C22.5879 19.4452 22.5554 19.4023 22.5128 19.4023C22.4722 19.4023 22.4377 19.4427 22.4357 19.4956L22.4377 19.4956Z" fill="#FEC218"/>
                      </g>
                      <path d="M18.8415 19.3256C18.8375 19.6834 19.0648 19.9782 19.355 19.9857C19.6432 19.9908 19.8807 19.7035 19.8847 19.3458C19.8888 18.988 19.6594 18.6907 19.3712 18.6856C19.081 18.6806 18.8456 18.9678 18.8415 19.3256Z" fill="#8B0B00"/>
                      <path d="M18.9785 19.2155C18.9744 19.4977 19.1571 19.732 19.3865 19.7371C19.6138 19.7421 19.8025 19.5153 19.8066 19.2331C19.8106 18.9484 19.628 18.7141 19.3986 18.7091C19.1693 18.704 18.9826 18.9308 18.9785 19.2155Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M19.2228 19.0341C19.2228 19.1929 19.3243 19.3214 19.4501 19.3239C19.578 19.3264 19.6835 19.2005 19.6855 19.0417C19.6855 18.8855 19.5841 18.7545 19.4562 18.752C19.3304 18.752 19.2248 18.8754 19.2228 19.0341Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M19.5001 19.4409C19.5001 19.4938 19.5346 19.5366 19.5772 19.5392C19.6198 19.5392 19.6543 19.4988 19.6543 19.4434C19.6543 19.3905 19.6198 19.3477 19.5792 19.3477C19.5366 19.3477 19.5001 19.388 19.5001 19.4409Z" fill="#FEC218"/>
                      </g>
                      <path d="M15.9098 19.2709C15.9057 19.6287 16.1371 19.926 16.4253 19.9311C16.7115 19.9361 16.951 19.6489 16.955 19.2911C16.9591 18.9333 16.7277 18.6385 16.4415 18.6309C16.1513 18.6259 15.9139 18.9131 15.9098 19.2709Z" fill="#8B0B00"/>
                      <path d="M16.0488 19.1608C16.0448 19.443 16.2295 19.6773 16.4568 19.6824C16.6841 19.6874 16.8728 19.4607 16.8769 19.1785C16.8809 18.8937 16.6983 18.6594 16.471 18.6544C16.2437 18.6493 16.0549 18.8761 16.0509 19.1608L16.0488 19.1608Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M16.2931 18.9814C16.2931 19.1402 16.3926 19.2687 16.5204 19.2712C16.6463 19.2712 16.7538 19.1477 16.7559 18.989C16.7559 18.8302 16.6544 18.7017 16.5285 18.6992C16.4007 18.6992 16.2951 18.8227 16.2931 18.9814Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M16.5704 19.3862C16.5704 19.4391 16.6028 19.4819 16.6475 19.4845C16.6901 19.4845 16.7226 19.4441 16.7246 19.3887C16.7246 19.3358 16.6921 19.293 16.6495 19.293C16.6069 19.293 16.5724 19.3333 16.5704 19.3862Z" fill="#FEC218"/>
                      </g>
                      <path d="M12.9762 19.2143C12.9721 19.572 13.2035 19.8694 13.4917 19.8744C13.7799 19.8795 14.0174 19.5922 14.0214 19.2344C14.0255 18.8766 13.7961 18.5818 13.5079 18.5743C13.2197 18.5692 12.9823 18.8565 12.9762 19.2143Z" fill="#8B0B00"/>
                      <path d="M13.1152 19.1061C13.1112 19.3883 13.2938 19.6227 13.5232 19.6277C13.7525 19.6327 13.9392 19.406 13.9433 19.1238C13.9474 18.8391 13.7647 18.6047 13.5353 18.5997C13.306 18.5947 13.1193 18.8214 13.1152 19.1061Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M13.3556 18.9248C13.3556 19.0835 13.4571 19.212 13.585 19.2145C13.7128 19.2145 13.8163 19.0911 13.8184 18.9323C13.8184 18.7761 13.7189 18.6451 13.591 18.6426C13.4652 18.6426 13.3576 18.766 13.3556 18.9248Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M13.6368 19.3335C13.6368 19.3864 13.6713 19.4292 13.7119 19.4317C13.7545 19.4317 13.789 19.3914 13.791 19.336C13.791 19.2831 13.7565 19.2402 13.7139 19.2402C13.6733 19.2402 13.6368 19.2805 13.6368 19.3335Z" fill="#FEC218"/>
                      </g>
                      <path d="M10.0407 19.1596C10.0367 19.5174 10.266 19.8147 10.5542 19.8197C10.8444 19.8248 11.0799 19.5375 11.0839 19.1797C11.088 18.822 10.8607 18.5272 10.5704 18.5196C10.2822 18.5146 10.0448 18.8018 10.0407 19.1596Z" fill="#8B0B00"/>
                      <path d="M10.1816 19.052C10.1776 19.3342 10.3602 19.5685 10.5875 19.5711C10.8169 19.5761 11.0056 19.3493 11.0097 19.0671C11.0138 18.7824 10.8311 18.5481 10.5997 18.5431C10.3724 18.538 10.1837 18.7648 10.1796 19.0495L10.1816 19.052Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M10.4259 18.8701C10.4259 19.0288 10.5254 19.1573 10.6532 19.1598C10.7811 19.1598 10.8866 19.0364 10.8887 18.8776C10.8887 18.7214 10.7892 18.5904 10.6614 18.5879C10.5335 18.5879 10.43 18.7114 10.428 18.8701L10.4259 18.8701Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M10.6993 19.2788C10.6993 19.3317 10.7338 19.3745 10.7744 19.377C10.817 19.377 10.8535 19.3367 10.8535 19.2813C10.8535 19.2284 10.819 19.1855 10.7764 19.1855C10.7358 19.1855 10.6993 19.2259 10.6972 19.2788L10.6993 19.2788Z" fill="#FEC218"/>
                      </g>
                      <path d="M7.10698 19.1029C7.10292 19.4607 7.33227 19.7555 7.6225 19.7631C7.9107 19.7681 8.14816 19.4809 8.15424 19.1231C8.1583 18.7653 7.92693 18.468 7.63873 18.463C7.35053 18.4579 7.11307 18.7452 7.10901 19.1029L7.10698 19.1029Z" fill="#8B0B00"/>
                      <path d="M7.24413 18.9954C7.24007 19.2776 7.42273 19.5119 7.65208 19.5144C7.87939 19.5195 8.06814 19.2927 8.0722 19.0105C8.07626 18.7258 7.89359 18.4914 7.66425 18.4864C7.43288 18.4814 7.24616 18.7081 7.24413 18.9929L7.24413 18.9954Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M7.48858 18.8134C7.48858 18.9722 7.58803 19.1007 7.71386 19.1032C7.84173 19.1032 7.94524 18.9797 7.94727 18.821C7.94727 18.6648 7.84984 18.5338 7.71995 18.5312C7.59412 18.5312 7.48858 18.6547 7.48655 18.8134L7.48858 18.8134Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M7.76567 19.2221C7.76567 19.275 7.79815 19.3179 7.84077 19.3204C7.88339 19.3204 7.91789 19.2801 7.91992 19.2247C7.91992 19.1717 7.88542 19.1289 7.8428 19.1289C7.80018 19.1289 7.76567 19.1692 7.76567 19.2221Z" fill="#FEC218"/>
                      </g>
                      <path d="M4.17542 19.0483C4.17136 19.406 4.40273 19.7034 4.69093 19.7084C4.97913 19.7134 5.21659 19.4262 5.22065 19.0684C5.22471 18.7106 4.99334 18.4158 4.70514 18.4083C4.41694 18.4032 4.17948 18.6905 4.17542 19.0483Z" fill="#8B0B00"/>
                      <path d="M4.31444 18.9401C4.31039 19.2223 4.49305 19.4566 4.72239 19.4617C4.95173 19.4667 5.13845 19.24 5.14251 18.9578C5.14657 18.673 4.96391 18.4387 4.7366 18.4337C4.50725 18.4286 4.3185 18.6554 4.31444 18.9401Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M4.55874 18.7588C4.55874 18.9175 4.65819 19.046 4.78605 19.0485C4.91392 19.0485 5.01945 18.9251 5.02148 18.7663C5.02148 18.6101 4.92 18.4791 4.79214 18.4766C4.66631 18.4766 4.56077 18.6 4.55874 18.7588Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M4.83599 19.1675C4.83599 19.2204 4.86846 19.2632 4.91311 19.2657C4.95573 19.2657 4.99023 19.2254 4.99023 19.17C4.99023 19.1171 4.95776 19.0742 4.91514 19.0742C4.87252 19.0742 4.83802 19.1145 4.83599 19.1675Z" fill="#FEC218"/>
                      </g>
                      <path d="M1.24183 18.9955C1.23777 19.3533 1.46711 19.6481 1.75734 19.6557C2.04554 19.6607 2.28097 19.3735 2.28706 19.0157C2.29112 18.6579 2.06177 18.3606 1.77357 18.3555C1.48335 18.3505 1.24791 18.6377 1.24386 18.9955L1.24183 18.9955Z" fill="#8B0B00"/>
                      <path d="M1.38085 18.886C1.37679 19.1682 1.55946 19.4025 1.7888 19.405C2.01611 19.4101 2.20486 19.1833 2.20892 18.9011C2.21298 18.6164 2.02829 18.3821 1.80098 18.377C1.57163 18.372 1.38491 18.5988 1.38085 18.8835L1.38085 18.886Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M1.62327 18.7041C1.62327 18.8628 1.72272 18.9913 1.85058 18.9938C1.97642 18.9938 2.08398 18.8704 2.08398 18.7116C2.08398 18.5554 1.98251 18.4244 1.85667 18.4219C1.72881 18.4219 1.62327 18.5453 1.62124 18.7041L1.62327 18.7041Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M1.90239 19.1108C1.90239 19.1637 1.93487 19.2066 1.97749 19.2091C2.02011 19.2091 2.05664 19.1688 2.05664 19.1133C2.05664 19.0604 2.02214 19.0176 1.97952 19.0176C1.93689 19.0176 1.90239 19.0579 1.90239 19.1108Z" fill="#FEC218"/>
                      </g>
                      <path d="M38.2346 3.66441C38.401 3.38221 38.3544 2.98411 38.125 2.77498C37.8997 2.56837 37.577 2.62884 37.4106 2.91104C37.2442 3.19324 37.2929 3.59134 37.5182 3.79795C37.7455 4.00708 38.0682 3.9466 38.2346 3.66441Z" fill="#8B0B00"/>
                      <path d="M38.076 3.6519C38.2079 3.43017 38.1694 3.11522 37.9887 2.94892C37.8081 2.78515 37.5564 2.83302 37.4245 3.05475C37.2906 3.27899 37.3291 3.59394 37.5098 3.75772C37.6884 3.92149 37.9441 3.87614 38.076 3.64938L38.076 3.6519Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M37.7982 3.62458C37.8712 3.50112 37.8509 3.32474 37.7494 3.23403C37.65 3.14333 37.5079 3.16853 37.4328 3.29199C37.3598 3.41545 37.3821 3.59182 37.4815 3.68253C37.581 3.77323 37.7231 3.74804 37.7961 3.62458L37.7982 3.62458Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M37.7606 3.10563C37.785 3.0628 37.7789 3.00485 37.7444 2.97461C37.7119 2.94438 37.6653 2.95445 37.6409 2.99477C37.6165 3.0376 37.6226 3.09304 37.6551 3.12327C37.6896 3.15351 37.7343 3.14595 37.7606 3.10311L37.7606 3.10563Z" fill="#FEC218"/>
                      </g>
                      <path d="M40.5437 5.77573C40.7101 5.49354 40.6614 5.09544 40.4361 4.88631C40.2088 4.6797 39.8881 4.74017 39.7217 5.02237C39.5553 5.30456 39.6019 5.70267 39.8293 5.90927C40.0566 6.11588 40.3772 6.05541 40.5437 5.77321L40.5437 5.77573Z" fill="#8B0B00"/>
                      <path d="M40.3846 5.76591C40.5165 5.54418 40.478 5.22923 40.2973 5.06293C40.1167 4.89916 39.863 4.94451 39.7311 5.16876C39.5971 5.393 39.6357 5.70796 39.8163 5.87173C39.9969 6.03551 40.2506 5.99016 40.3826 5.76339L40.3846 5.76591Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M40.1073 5.74022C40.1804 5.61675 40.1581 5.43786 40.0586 5.34715C39.9592 5.25644 39.8171 5.28164 39.744 5.40762C39.671 5.53109 39.6913 5.70746 39.7907 5.79817C39.8902 5.88887 40.0343 5.86368 40.1073 5.74022Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M40.0737 5.21964C40.0981 5.17681 40.09 5.11885 40.0575 5.08862C40.025 5.05838 39.9763 5.06594 39.952 5.10878C39.9276 5.15161 39.9357 5.20956 39.9682 5.2398C40.0007 5.27003 40.0473 5.26247 40.0737 5.21964Z" fill="#FEC218"/>
                      </g>
                      <path d="M42.8556 7.88954C43.022 7.60734 42.9753 7.20924 42.748 7.00263C42.5207 6.7935 42.2 6.85649 42.0336 7.13869C41.8672 7.42089 41.9118 7.81647 42.1412 8.0256C42.3685 8.23473 42.6892 8.17174 42.8556 7.88954Z" fill="#8B0B00"/>
                      <path d="M42.697 7.87987C42.8289 7.65815 42.7903 7.34319 42.6117 7.17942C42.4311 7.01312 42.1774 7.061 42.0455 7.28272C41.9115 7.50697 41.9501 7.82192 42.1327 7.98822C42.3113 8.152 42.565 8.10412 42.699 7.87987L42.697 7.87987Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M42.4191 7.85223C42.4922 7.72624 42.4719 7.55239 42.3724 7.46168C42.271 7.36846 42.1289 7.39617 42.0558 7.51964C41.9828 7.6431 42.003 7.81947 42.1045 7.9127C42.206 8.0034 42.346 7.97821 42.4191 7.85475L42.4191 7.85223Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M42.3862 7.33292C42.4106 7.29009 42.4025 7.23213 42.37 7.2019C42.3355 7.17166 42.2888 7.17922 42.2624 7.22206C42.2381 7.26489 42.2462 7.32284 42.2787 7.35308C42.3111 7.38331 42.3598 7.37575 42.3842 7.33292L42.3862 7.33292Z" fill="#FEC218"/>
                      </g>
                      <path d="M45.1681 10.0038C45.3345 9.72417 45.2878 9.32355 45.0605 9.11694C44.8332 8.91033 44.5125 8.9708 44.3461 9.25048C44.1776 9.53268 44.2284 9.93078 44.4537 10.1399C44.681 10.349 45.0017 10.286 45.1681 10.0038Z" fill="#8B0B00"/>
                      <path d="M45.009 9.99247C45.1409 9.77074 45.1044 9.45579 44.9217 9.2895C44.7431 9.12572 44.4894 9.17107 44.3555 9.39532C44.2215 9.61957 44.2601 9.93452 44.4407 10.0983C44.6214 10.2646 44.8751 10.2167 45.007 9.98995L45.009 9.99247Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M44.7316 9.96729C44.8047 9.84383 44.7844 9.66746 44.6849 9.57676C44.5835 9.48353 44.4434 9.51124 44.3703 9.63722C44.2973 9.76069 44.3176 9.93454 44.417 10.0278C44.5165 10.1185 44.6585 10.0933 44.7316 9.96729Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M44.698 9.44425C44.7224 9.40142 44.7163 9.34346 44.6838 9.31323C44.6493 9.28299 44.6026 9.29055 44.5783 9.33339C44.5539 9.37622 44.562 9.43417 44.5945 9.46441C44.627 9.49464 44.6737 9.48708 44.7 9.44425L44.698 9.44425Z" fill="#FEC218"/>
                      </g>
                      <path d="M47.4767 12.117C47.6431 11.8348 47.5964 11.4367 47.3691 11.2301C47.1418 11.0234 46.8211 11.0839 46.6547 11.3661C46.4883 11.6483 46.5349 12.0464 46.7623 12.253C46.9896 12.4596 47.3102 12.3992 47.4767 12.117Z" fill="#8B0B00"/>
                      <path d="M47.3143 12.1061C47.4462 11.8819 47.4076 11.5694 47.227 11.4031C47.0464 11.2368 46.7947 11.2872 46.6628 11.509C46.5288 11.7332 46.5674 12.0482 46.748 12.2119C46.9287 12.3782 47.1824 12.3304 47.3143 12.1061Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M47.0402 12.0788C47.1133 11.9553 47.093 11.779 46.9935 11.6882C46.892 11.595 46.75 11.6227 46.6769 11.7462C46.6038 11.8697 46.6262 12.046 46.7256 12.1393C46.8251 12.23 46.9671 12.2048 47.0402 12.0813L47.0402 12.0788Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M47.0028 11.5575C47.0272 11.5147 47.0211 11.4567 46.9866 11.4265C46.9521 11.3963 46.9054 11.4038 46.8811 11.4467C46.8567 11.4895 46.8628 11.5449 46.8973 11.5777C46.9318 11.6079 46.9785 11.6004 47.0028 11.5575Z" fill="#FEC218"/>
                      </g>
                      <path d="M49.7847 14.2294C49.9511 13.9472 49.9064 13.5516 49.6771 13.3425C49.4498 13.1333 49.1291 13.1963 48.9627 13.4785C48.7963 13.7607 48.8429 14.1588 49.0703 14.3654C49.2996 14.5746 49.6182 14.5116 49.7847 14.2294Z" fill="#8B0B00"/>
                      <path d="M49.6227 14.2185C49.7547 13.9967 49.7161 13.6818 49.5375 13.518C49.3589 13.3542 49.1052 13.3996 48.9713 13.6238C48.8373 13.8481 48.8779 14.163 49.0565 14.3268C49.2371 14.4931 49.4888 14.4452 49.6227 14.2185Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M49.3489 14.1955C49.422 14.0695 49.4017 13.8956 49.3002 13.8024C49.2008 13.7117 49.0587 13.7369 48.9856 13.8603C48.9126 13.9838 48.9349 14.1602 49.0343 14.2509C49.1358 14.3441 49.2759 14.3164 49.351 14.1929L49.3489 14.1955Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M49.3153 13.6728C49.3397 13.6299 49.3336 13.572 49.2991 13.5417C49.2646 13.5115 49.2179 13.5191 49.1936 13.5619C49.1692 13.6047 49.1773 13.6627 49.2098 13.6929C49.2443 13.7232 49.2889 13.7156 49.3153 13.6728Z" fill="#FEC218"/>
                      </g>
                      <path d="M37.811 22.7383C37.9551 23.0306 37.882 23.4161 37.6446 23.5975C37.4091 23.7764 37.0986 23.6832 36.9545 23.3909C36.8104 23.0986 36.8835 22.7131 37.1189 22.5342C37.3564 22.3528 37.6649 22.446 37.811 22.7383Z" fill="#8B0B00"/>
                      <path d="M37.6511 22.7323C37.7648 22.9641 37.7059 23.2665 37.5192 23.4101C37.3325 23.5537 37.0889 23.4806 36.9732 23.2488C36.8576 23.0145 36.9164 22.7121 37.1031 22.5685C37.2899 22.4274 37.5354 22.498 37.6491 22.7323L37.6511 22.7323Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M37.3792 22.7321C37.4441 22.8606 37.4096 23.0319 37.3061 23.11C37.2026 23.1881 37.0646 23.1503 37.0016 23.0193C36.9387 22.8908 36.9712 22.7195 37.0747 22.6414C37.1782 22.5633 37.3162 22.6036 37.3792 22.7321Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M37.311 23.2363C37.3333 23.2791 37.3211 23.337 37.2866 23.3622C37.2521 23.3874 37.2075 23.3748 37.1872 23.3295C37.1648 23.2867 37.177 23.2312 37.2095 23.206C37.244 23.1783 37.2887 23.1909 37.311 23.2363Z" fill="#FEC218"/>
                      </g>
                      <path d="M40.2133 20.9134C40.3574 21.2057 40.2843 21.5912 40.0489 21.7701C39.8134 21.949 39.5029 21.8558 39.3588 21.5635C39.2147 21.2712 39.2878 20.8857 39.5232 20.7068C39.7586 20.5279 40.0692 20.6186 40.2133 20.9134Z" fill="#8B0B00"/>
                      <path d="M40.0535 20.9053C40.1671 21.1371 40.1083 21.4395 39.9215 21.5831C39.7348 21.7242 39.4892 21.6536 39.3756 21.4218C39.2599 21.1875 39.3188 20.8851 39.5055 20.7415C39.6922 20.5979 39.9378 20.671 40.0535 20.9053Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M39.7816 20.9046C39.8465 21.0331 39.812 21.2045 39.7065 21.2826C39.603 21.3632 39.467 21.3204 39.402 21.1919C39.3391 21.0634 39.3696 20.8946 39.4751 20.8139C39.5786 20.7358 39.7166 20.7736 39.7795 20.9021L39.7816 20.9046Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M39.7133 21.409C39.7356 21.4518 39.7235 21.5098 39.689 21.5349C39.6545 21.5601 39.6078 21.5475 39.5875 21.5047C39.5652 21.4619 39.5773 21.4064 39.6118 21.3787C39.6463 21.3535 39.691 21.3636 39.7133 21.409Z" fill="#FEC218"/>
                      </g>
                      <path d="M42.6117 19.0828C42.7558 19.375 42.6827 19.7605 42.4473 19.9394C42.2098 20.1208 41.9034 20.0251 41.7572 19.7328C41.6131 19.4405 41.6842 19.0576 41.9216 18.8761C42.1571 18.6973 42.4656 18.7905 42.6117 19.0828Z" fill="#8B0B00"/>
                      <path d="M42.4552 19.0786C42.5689 19.3104 42.5121 19.6127 42.3253 19.7538C42.1366 19.8974 41.8931 19.8244 41.7774 19.5926C41.6617 19.3582 41.7205 19.0559 41.9093 18.9123C42.096 18.7712 42.3396 18.8417 42.4552 19.076L42.4552 19.0786Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M42.1795 19.0758C42.2444 19.2043 42.2119 19.3731 42.1064 19.4538C42.0009 19.5344 41.8649 19.4941 41.802 19.3631C41.739 19.2346 41.7715 19.0657 41.877 18.9851C41.9806 18.907 42.1165 18.9473 42.1815 19.0758L42.1795 19.0758Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M42.1157 19.5808C42.138 19.6237 42.1258 19.6816 42.0913 19.7068C42.0568 19.7345 42.0101 19.7219 41.9878 19.6766C41.9655 19.6338 41.9777 19.5758 42.0142 19.5506C42.0487 19.5254 42.0933 19.5355 42.1157 19.5808Z" fill="#FEC218"/>
                      </g>
                      <path d="M45.0101 17.2552C45.1542 17.5475 45.0812 17.933 44.8457 18.1119C44.6103 18.2908 44.2998 18.1976 44.1557 17.9053C44.0116 17.613 44.0846 17.2275 44.3221 17.0486C44.5596 16.8697 44.8681 16.9604 45.0122 17.2552L45.0101 17.2552Z" fill="#8B0B00"/>
                      <path d="M44.8538 17.2471C44.9674 17.4789 44.9106 17.7813 44.7218 17.9249C44.5351 18.066 44.2916 17.9954 44.1759 17.7636C44.0602 17.5293 44.1191 17.2269 44.3058 17.0833C44.4945 16.9397 44.7381 17.0128 44.8538 17.2471Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M44.5778 17.2477C44.6428 17.3762 44.6103 17.545 44.5068 17.6256C44.4012 17.7063 44.2673 17.6634 44.2023 17.5349C44.1394 17.4064 44.1699 17.2376 44.2754 17.157C44.3789 17.0789 44.5149 17.1192 44.5778 17.2477Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M44.5141 17.7521C44.5364 17.7949 44.5243 17.8529 44.4897 17.8781C44.4552 17.9058 44.4086 17.8907 44.3883 17.8479C44.3659 17.805 44.3781 17.7471 44.4126 17.7219C44.4471 17.6967 44.4918 17.7093 44.5141 17.7521Z" fill="#FEC218"/>
                      </g>
                      <path d="M47.4086 15.4265C47.5527 15.7188 47.4796 16.1043 47.2442 16.2832C47.0087 16.4621 46.6982 16.3688 46.5541 16.0766C46.41 15.7843 46.4831 15.3988 46.7185 15.2199C46.9539 15.041 47.2645 15.1342 47.4086 15.4265Z" fill="#8B0B00"/>
                      <path d="M47.2522 15.4223C47.3659 15.6541 47.309 15.9565 47.1203 16.1001C46.9336 16.2437 46.69 16.1706 46.5743 15.9388C46.4586 15.7045 46.5175 15.4021 46.7042 15.261C46.893 15.1174 47.1365 15.1905 47.2522 15.4248L47.2522 15.4223Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M46.9777 15.4196C47.0406 15.5481 47.0082 15.7169 46.9046 15.7975C46.7991 15.8781 46.6631 15.8378 46.5982 15.7068C46.5353 15.5783 46.5677 15.407 46.6733 15.3289C46.7768 15.2508 46.9128 15.2911 46.9777 15.4196Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M46.9086 15.9257C46.931 15.9685 46.9188 16.0265 46.8843 16.0517C46.8498 16.0794 46.8051 16.0643 46.7828 16.0215C46.7605 15.9786 46.7727 15.9232 46.8072 15.8955C46.8417 15.8678 46.8863 15.8804 46.9086 15.9257Z" fill="#FEC218"/>
                      </g>
                      <path d="M49.8104 13.6001C49.9545 13.8924 49.8835 14.2754 49.646 14.4568C49.4106 14.6357 49.1021 14.5424 48.958 14.2502C48.8139 13.9579 48.8849 13.5749 49.1224 13.3935C49.3599 13.2121 49.6684 13.3053 49.8125 13.6001L49.8104 13.6001Z" fill="#8B0B00"/>
                      <path d="M49.6506 13.5947C49.7643 13.8266 49.7075 14.1289 49.5187 14.2725C49.332 14.4136 49.0884 14.3431 48.9728 14.1113C48.8571 13.8769 48.9159 13.5746 49.1027 13.431C49.2894 13.2874 49.5329 13.3604 49.6486 13.5947L49.6506 13.5947Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M49.3801 13.5932C49.443 13.7217 49.4105 13.8905 49.307 13.9711C49.2035 14.0492 49.0655 14.0089 49.0026 13.8804C48.9396 13.7519 48.9721 13.5831 49.0756 13.5024C49.1812 13.4218 49.3171 13.4621 49.3801 13.5932Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M49.3105 14.0989C49.3328 14.1418 49.3227 14.1972 49.2861 14.2249C49.2516 14.2526 49.205 14.24 49.1826 14.1947C49.1603 14.1518 49.1725 14.0939 49.207 14.0687C49.2415 14.041 49.2861 14.0561 49.3085 14.0989L49.3105 14.0989Z" fill="#FEC218"/>
                      </g>
                      <path d="M1.64203 9.87441C1.93023 9.87945 2.16769 9.59473 2.17378 9.23442C2.17783 8.87664 1.94646 8.58184 1.65826 8.57428C1.37007 8.56924 1.13057 8.85648 1.12651 9.21427C1.12246 9.57205 1.35383 9.86685 1.64203 9.87189L1.64203 9.87441Z" fill="#8B0B00"/>
                      <path d="M1.55442 9.70387C1.78173 9.70891 1.97048 9.48215 1.97454 9.19743C1.9786 8.91523 1.79594 8.6809 1.56863 8.67586C1.33929 8.67082 1.15054 8.89759 1.14648 9.18231C1.14242 9.46954 1.32508 9.70135 1.55442 9.70387Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M1.40918 9.39951C1.53704 9.39951 1.64055 9.27605 1.64258 9.11983C1.64258 8.9611 1.54313 8.8326 1.41527 8.83008C1.28943 8.83008 1.18389 8.95354 1.18186 9.11227C1.18186 9.26849 1.28131 9.39951 1.40918 9.40203L1.40918 9.39951Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M1.7353 9.05477C1.77792 9.05477 1.81242 9.01446 1.81445 8.96155C1.81445 8.90863 1.78198 8.8658 1.73733 8.86328C1.69471 8.86328 1.6602 8.90612 1.6602 8.95903C1.6602 9.01194 1.69268 9.05477 1.7353 9.05477Z" fill="#FEC218"/>
                      </g>
                      <path d="M1.59906 13.5164C1.88726 13.5215 2.12472 13.2342 2.13081 12.8764C2.13487 12.5186 1.90349 12.2239 1.61529 12.2188C1.32709 12.2138 1.08963 12.501 1.08355 12.8588C1.07949 13.2166 1.31086 13.5114 1.59906 13.5164Z" fill="#8B0B00"/>
                      <path d="M1.51145 13.3425C1.73876 13.3476 1.92752 13.1208 1.93157 12.8361C1.93563 12.5514 1.75297 12.3196 1.52566 12.3145C1.29632 12.3095 1.10757 12.5363 1.10351 12.8185C1.09945 13.1032 1.28211 13.3375 1.51145 13.34L1.51145 13.3425Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M1.3623 13.0393C1.49017 13.0393 1.59367 12.9159 1.5957 12.7571C1.5957 12.5984 1.49625 12.4674 1.36839 12.4648C1.24256 12.4648 1.13702 12.5908 1.13499 12.7496C1.13499 12.9058 1.23444 13.0368 1.3623 13.0393Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M1.69233 12.6979C1.73495 12.6979 1.76945 12.6576 1.77148 12.6022C1.77148 12.5493 1.73901 12.5064 1.69436 12.5039C1.65174 12.5039 1.61724 12.5442 1.61724 12.5971C1.61724 12.65 1.64971 12.6929 1.69233 12.6954L1.69233 12.6979Z" fill="#FEC218"/>
                      </g>
                      <path d="M1.55218 17.159C1.84038 17.164 2.07784 16.8818 2.08393 16.519C2.08799 16.1612 1.85662 15.869 1.56842 15.8614C1.28022 15.8564 1.04276 16.1411 1.03667 16.4989C1.03261 16.8592 1.26398 17.1514 1.55218 17.1565L1.55218 17.159Z" fill="#8B0B00"/>
                      <path d="M1.4627 16.9851C1.69001 16.9902 1.87876 16.7634 1.88079 16.4787C1.88485 16.1965 1.70219 15.9622 1.47488 15.9571C1.24554 15.9521 1.05679 16.1814 1.05273 16.4636C1.04867 16.7483 1.23133 16.9801 1.46067 16.9851L1.4627 16.9851Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:screen">
                      <path d="M1.31543 16.6852C1.44329 16.6852 1.5468 16.5618 1.54883 16.403C1.54883 16.2468 1.44938 16.1158 1.32152 16.1133C1.19568 16.1133 1.09014 16.2393 1.08811 16.3955C1.08811 16.5542 1.18757 16.6852 1.31543 16.6878L1.31543 16.6852Z" fill="#FEC218"/>
                      </g>
                      <g style="mix-blend-mode:screen">
                      <path d="M1.64546 16.3399C1.68808 16.3399 1.72258 16.2996 1.72461 16.2467C1.72461 16.1938 1.69214 16.1484 1.64748 16.1484C1.60283 16.1484 1.57036 16.1913 1.57036 16.2442C1.57036 16.2971 1.60284 16.3399 1.64546 16.3399Z" fill="#FEC218"/>
                      </g>
                      <path d="M48.0098 14.0068L38.215 21.0265L38.2414 18.8521L2.2936 18.1768L2.42349 7.41801L38.3733 8.0958L38.4038 5.57617L48.0098 14.0068Z" fill="#FEC218"/>
                      <g style="mix-blend-mode:multiply" opacity="0.5">
                      <path d="M38.3851 8.08068L38.4155 5.57617L48.0215 14.0068L38.2268 21.0265L38.2531 18.9151L2.33982 18.2398L2.47174 7.40542L38.3851 8.08068ZM3.35664 17.1387L38.9676 17.8089L38.9432 19.7314L47.0453 13.8582L39.1015 6.80827L39.0771 8.84161L3.46624 8.17138L3.35664 17.1387Z" fill="#8B0B00"/>
                      </g>
                    </svg>
                  </div>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {{ link.title | escape }}
                        {% render 'icon-arrow' %}
                        {% render 'icon-caret' %}
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            {% render 'icon-arrow' %}
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                    >
                                      {{ childlink.title | escape }}
                                      {% render 'icon-arrow' %}
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        {% render 'icon-arrow' %}
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
          <div class="menu-drawer__utility-links">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
              >
                {% render 'icon-account' %}
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>
            {%- endif -%}
            {%- if localization.available_countries or localization.available_languages -%}
              <div class="menu-drawer__localization header-localization">
                {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                  <noscript>
                    {%- form 'localization', id: 'HeaderCountryMobileFormNoScriptDrawer', class: 'localization-form' -%}
                      <div class="localization-form__select">
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScriptDrawer">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        <select
                          class="localization-selector link"
                          name="country_code"
                          aria-labelledby="HeaderCountryMobileLabelNoScriptDrawer"
                        >
                          {%- for country in localization.available_countries -%}
                            <option
                              value="{{ country.iso_code }}"
                              {%- if country.iso_code == localization.country.iso_code %}
                                selected
                              {% endif %}
                            >
                              {{ country.name }} ({{ country.currency.iso_code }}
                              {{ country.currency.symbol }})
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                      <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
                    {%- endform -%}
                  </noscript>

                  <localization-form class="no-js-hidden">
                    {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}

                {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                  <noscript>
                    {%- form 'localization',
                      id: 'HeaderLanguageMobileFormNoScriptDrawer',
                      class: 'localization-form'
                    -%}
                      <div class="localization-form__select">
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScriptDrawer">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        <select
                          class="localization-selector link"
                          name="locale_code"
                          aria-labelledby="HeaderLanguageMobileLabelNoScriptDrawer"
                        >
                          {%- for language in localization.available_languages -%}
                            <option
                              value="{{ language.iso_code }}"
                              lang="{{ language.iso_code }}"
                              {%- if language.iso_code == localization.language.iso_code %}
                                selected
                              {% endif %}
                            >
                              {{ language.endonym_name | capitalize }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                      <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
                    {%- endform -%}
                  </noscript>

                  <localization-form class="no-js-hidden">
                    {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
              </div>
            {%- endif -%}
            <ul class="list list-social list-unstyled" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    {%- render 'icon-twitter' -%}
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    {%- render 'icon-facebook' -%}
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    {%- render 'icon-pinterest' -%}
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    {%- render 'icon-instagram' -%}
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    {%- render 'icon-tiktok' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    {%- render 'icon-tumblr' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    {%- render 'icon-snapchat' -%}
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    {%- render 'icon-youtube' -%}
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    {%- render 'icon-vimeo' -%}
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
