{{ 'about-image-with-text.css' | asset_url | stylesheet_tag }}
<div class="about-image-with-text">
  <h1>for cheking</h1>
  <div class="about-image-with-text_corave_svg">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="1440"
      height="288"
      viewBox="0 0 1440 288"
      fill="none">
      <path d="M58.4369 106.533C24.8731 115.333 5.49407 145.866 0 160.033V267H1439.95V20.0326C1441.11 11.5326 1424.16 -4.16736 1347.05 1.03264C1269.93 6.23264 1245.32 86.866 1242.66 126.533L1236.17 114.533C1231.84 104.033 1215.09 83.9326 1182.72 87.5326C1150.36 91.1326 1138.94 122.366 1137.27 137.533L1135.27 133.033C1129.78 110.366 1104.01 64.4326 1044.87 62.0326C985.736 59.6326 952.305 110.033 942.982 135.533L940.484 133.033C925.168 109.199 878.252 61.6326 813.122 62.0326C747.992 62.4326 708.069 119.866 696.248 148.533L693.251 145.033C684.095 134.533 654.893 113.733 611.34 114.533C567.787 115.333 542.248 166.199 534.922 191.533L533.424 189.533C526.432 180.699 505.055 161.233 475.487 154.033C445.918 146.833 419.547 162.033 410.057 170.533L408.559 167.033L393.575 133.033C380.423 111.699 337.835 67.4327 272.706 61.0327C207.576 54.6327 160.66 116.033 145.343 147.533L141.847 143.033C128.028 127.199 92.0007 97.7327 58.4369 106.533Z" fill="#fec218"></path>
      <path d="M49.5326 141.533C15.3395 150.333 -4.40292 180.866 -10 195.033V288H1456.94V55.0326C1458.13 46.5326 1440.87 30.8326 1362.3 36.0326C1283.74 41.2326 1258.67 121.866 1255.96 161.533L1249.34 149.533C1244.93 139.033 1227.87 118.933 1194.9 122.533C1161.93 126.133 1150.29 157.366 1148.6 172.533L1146.56 168.033C1140.96 145.366 1114.71 99.4326 1054.46 97.0326C994.218 94.6326 960.161 145.033 950.663 170.533L948.118 168.033C932.514 144.199 884.719 96.6326 818.368 97.0326C752.017 97.4326 711.345 154.866 699.303 183.533L696.25 180.033C686.921 169.533 657.172 148.733 612.802 149.533C568.433 150.333 542.415 201.199 534.952 226.533L533.426 224.533C526.302 215.699 504.524 196.233 474.402 189.033C444.279 181.833 417.413 197.033 407.746 205.533L406.219 202.033L390.955 168.033C377.555 146.699 334.17 102.433 267.819 96.0327C201.468 89.6327 153.672 151.033 138.068 182.533L134.506 178.033C120.429 162.199 83.7257 132.733 49.5326 141.533Z" fill="#1d1a6f"></path>
    </svg>
  </div>
  <div class="about-image-with-text_spinner-svg">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="2495"
      height="2523"
      viewBox="0 0 2495 2523"
      fill="none">
      <g opacity="0.24">
        <path
          d="M1178.11 0.000185533L1229.64 1142.57L1059.89 13.029L936.096 37.9436L1207.04 1148.36L822.625 74.0581L705.99 122.897L1185.94 1158.49L601.711 180.65L496.755 251.584L1167.26 1172.66L405.586 328.842L316.301 419.129L1151.66 1190.19L241.86 512.844L171.713 618.979L1139.76 1210.45L116.711 725.647L68.4139 843.591L1131.92 1232.7L35.0357 959.021L10.473 1084.2L1128.6 1256.01L-5.06607e-05 1203.98L-4.57562e-05 1331.67L1129.81 1279.56L12.8841 1451.22L37.5222 1576.4L1135.61 1302.41L73.2361 1691.14L121.533 1809.09L1145.63 1323.75L178.645 1914.54L248.792 2020.67L1159.57 1342.64L325.192 2112.86L414.402 2203.15L1176.98 1358.42L507.152 2278.43L612.109 2349.36L1197.02 1370.45L717.593 2404.98L834.228 2453.82L1219.02 1378.38L948.377 2487.57L1072.17 2512.41L1242.08 1381.73L1190.61 2523L1316.89 2523L1265.36 1380.51L1435.11 2509.97L1558.9 2485.06L1287.96 1374.64L1672.37 2448.94L1789.01 2400.1L1309.06 1364.51L1893.29 2342.35L1998.24 2271.42L1327.74 1350.42L2089.41 2194.16L2178.7 2103.95L1343.34 1332.82L2253.14 2010.16L2323.29 1904.02L1355.24 1312.55L2378.29 1797.35L2426.59 1679.41L1363 1290.3L2459.96 1563.98L2484.53 1438.8L1366.4 1266.99L2495 1319.02L2495 1191.33L1365.11 1243.44L2482.12 1071.78L2457.48 946.601L1359.39 1220.59L2421.76 831.857L2373.47 713.913L1349.37 1199.25L2316.35 608.464L2246.21 502.33L1335.35 1180.36L2169.81 410.138L2080.52 319.851L1318.02 1164.58L1987.85 244.574L1882.89 173.64L1297.98 1152.55L1777.41 118.02L1660.77 69.1823L1275.98 1144.7L1546.62 35.5055L1422.83 10.5907L1252.92 1141.27L1304.39 0.000179251L1178.11 0.000185533Z"
          fill="url(#paint0_radial_638_8)"
          style="mix-blend-mode:screen"></path>
      </g>
      <defs>
        <radialGradient
          id="paint0_radial_638_8"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(1247.5 1261.5) rotate(-90) scale(1261.5 1247.5)">
          <stop offset="0.285" stop-color="#393684"></stop>
          <stop offset="0.95" stop-color="#17146B"></stop>
        </radialGradient>
      </defs>
    </svg>
  </div>
  <div class="page-width">
    <div class="about-image-with-text_wrapper">
      <div class="about-image-with-text_grid-item">
        <div class="about-image-with-text_text-image-wrap flex">
          <div class="about-image-with-text_content-area">
            {% if section.settings.title != blank %}
              <h1 class="about-image-with-text_title">{{ section.settings.title }}</h1>
            {% endif %}
            {% if section.settings.description != blank %}
              <p class="about-image-with-text_description">{{ section.settings.description }}</p>
            {% endif %}

          </div>
          {% if section.settings.image != blank %}
            <div class="about-image-with-text_image">
              <img src="{{ section.settings.image | image_url: width: '500x' }}" alt="">
            </div>
          {% endif %}
        </div>
        {% if section.settings.gift_image != blank %}
          <div class="about-image-with-text_gift-image">
            <img src="{{ section.settings.gift_image | image_url: width: '350x' }}" alt="">
          </div>
        {% endif %}
      </div>
    </div>
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        {%- assign packets = section.blocks.size | divided_by: 4 | ceil -%}
        {% for i in (1..packets) %}
          <div class="swiper-slide flex">
            {%- assign set = 4 | times: i -%}
            {%- assign blockIndex = 1 -%}
            {%- if i == 1 -%}
              {%- assign initialIndex = 1 -%}
              {% for block in section.blocks %}
                {% if block.settings.image != blank and blockIndex >= initialIndex and blockIndex <= set %}
                  <div class="about-image-with-text_inner-image">
                    <img src="{{ block.settings.image |  image_url: width: '1000x' }}" alt="">
                  </div>
                {% endif %}
                {%- assign blockIndex = blockIndex | plus: 1 -%}
              {% endfor %}
            {% else %}
              {%- assign initialIndex = set | minus: 4 -%}
              {% for block in section.blocks %}
                {% if block.settings.image != blank and blockIndex > initialIndex and blockIndex <= set %}
                  <div class="about-image-with-text_inner-image">
                    <img src="{{ block.settings.image |  image_url: width: '1000x' }}" alt="">
                  </div>
                {% endif %}
                {%- assign blockIndex = blockIndex | plus: 1 -%}
              {% endfor %}
            {%- endif -%}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="swiper-navigation">
      <div class="arrow-left arrow-svg">
        <svg
          width="41"
          height="23"
          viewBox="0 0 41 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M15.587 7.94984C20.4537 8.28938 25.3203 8.51573 30.187 8.96844C32.8467 9.25138 35.563 9.70409 38.1661 10.27C39.2979 10.4963 40.5994 11.232 40.0335 12.5901C39.8072 13.2692 38.5056 13.7785 37.6002 13.8917C36.1855 14.0615 34.7707 13.7785 33.4126 13.6653C25.8862 13.156 18.3599 12.6467 10.8335 12.1374C10.7204 12.3638 10.6072 12.5901 10.494 12.8165C11.8521 13.7219 13.3235 14.5142 14.6816 15.5328C16.4359 16.9475 18.1901 18.4754 19.7746 20.1731C20.1708 20.5692 20.001 21.8708 19.6614 22.5498C19.4917 22.8328 18.1901 22.8893 17.6808 22.6064C12.4746 19.5506 7.21183 16.5514 2.23199 13.2692C-0.82382 11.232 -0.654039 8.57231 2.74131 7.21417C8.68316 4.78084 14.7382 2.80023 20.7932 0.706435C21.8684 0.310311 23.2265 0.0839563 23.7924 1.44209C24.3583 2.80023 23.3397 3.59247 22.2645 4.10177C21.0196 4.78084 19.718 5.40331 18.4731 5.9692C17.4545 6.42192 16.4359 6.87463 15.3607 7.27076C15.4739 7.49711 15.4738 7.72348 15.587 7.94984Z" fill="#FEC218" />
        </svg>
      </div>
      <div class="arrow-right arrow-svg">
        <svg
          width="41"
          height="24"
          viewBox="0 0 41 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M25.4807 15.3329C20.6063 15.5325 15.7444 15.8445 10.8575 15.9317C8.18286 15.9439 5.4332 15.7938 2.78355 15.5186C1.6337 15.4185 0.258932 14.831 0.67149 13.4187C0.821527 12.7188 2.05892 12.0689 2.94632 11.8565C4.33368 11.5317 5.77099 11.6568 7.13332 11.6194C14.6699 11.295 22.2065 10.9707 29.7431 10.6463C29.8306 10.4088 29.9181 10.1714 30.0056 9.93391C28.5558 9.18389 27.0061 8.55884 25.5438 7.69633C23.6442 6.48383 21.732 5.15886 19.9698 3.64641C19.5324 3.29642 19.5575 1.98408 19.82 1.27169C19.9576 0.971738 21.2449 0.771877 21.7823 0.996891C27.2939 3.45952 32.8556 5.85964 38.1672 8.57221C41.4292 10.2598 41.5539 12.9219 38.3292 14.6465C32.6921 17.7207 26.8927 20.3574 21.1057 23.1066C20.0808 23.6189 18.7559 23.9938 18.0436 22.7064C17.3313 21.419 18.2562 20.5192 19.2687 19.8943C20.4311 19.082 21.656 18.3197 22.8309 17.6199C23.7933 17.0575 24.7557 16.4952 25.7806 15.9828C25.6432 15.7703 25.6182 15.5454 25.4807 15.3329Z" fill="#FEC218" />
        </svg>
      </div>
    </div>
  </div>
</div>
<script>
  new Swiper(".mySwiper", {
      freeMode: true,
      slidesPerView: "auto",
      navigation: {
        nextEl: '.arrow-left',
        prevEl: '.arrow-right',
    },
    });
</script>
{% schema %}
  {
    "name": "About Image With Text",
    "settings": [
      {
        "type": "image_picker",
        "id": "gift_image",
        "label": "Gift Image"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "html",
        "id": "title",
        "label": "Title"
      }, {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      }
    ],
    "blocks": [
      {
        "name": "Block",
        "type": "block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "About Image With Text"
      }
    ]
  }
{% endschema %}