{{ 'custom-video-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.7 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.46 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign video_id = section.settings.video.id | default: section.settings.video_url.id
-%}

{%- capture sizes -%}
  {% if section.settings.full_width -%}
    100vw
  {%- else -%}
    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px)
    calc(100vw - 10rem), 100vw
  {%- endif %}
{%- endcapture -%}

<div class="main-video-section color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <div class=" isolate{% unless section.settings.full_width %} page-width{% endunless %}">
    <div
      {% if section.settings.full_width %}
        class="page-width"
      {% endif %}
    ></div>
    <deferred-media
      class="video-section__media"
    >
      {%- if section.settings.video == null and section.settings.video_url != null -%}
        {%- liquid
          assign loop = ''
          if section.settings.enable_video_looping
            assign loop = '&loop=1&playlist=' | append: video_id
          endif
        -%}
        {%- if section.settings.video_url.type == 'youtube' -%}
          <iframe
            src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}&mute=1"
            allow="autoplay; encrypted-media"
            allowfullscreen
          ></iframe>
        {%- else -%}
          <iframe
            src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}&muted=1"
            allow="autoplay; encrypted-media"
            allowfullscreen
          ></iframe>
        {%- endif -%}
      {%- else -%}
        {{
          section.settings.video
          | video_tag:
            image_size: '1100x',
            autoplay: true,
            loop: section.settings.enable_video_looping,
            controls: false,
            muted: true
        }}
      {%- endif -%}
    </deferred-media>
    {%- if section.settings.title != blank or section.settings.link_text != blank or section.settings.text != blank -%}
      <div class="contents-wrapper">
        {%- if section.settings.title != blank -%}
          <h3 class="title">{{ section.settings.title }}</h3>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <p class="text">{{ section.settings.text }}</p>
        {%- endif -%}
        {%- if section.settings.link_text != blank -%}
          <div class="btn-wrap">
            <a href="{{ section.settings.link }}" class="btn-text">{{ section.settings.link_text }}</a>
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if section.settings.overlay_img != blank -%}
      <div class="overlay">
        <img src="{{ section.settings.overlay_img  | image_url: width: '300x'}}" alt="">
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Custom video section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.video.settings.enable_video_looping.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__1.content"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__2.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.video.settings.paragraph.content"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "header",
      "content": "Bottom content"
    },
    {
      "type": "image_picker",
      "id": "overlay_img",
      "label": "Overlay image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Button"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Url"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__3.content"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 400,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 400,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Custom video section"
    }
  ]
}
{% endschema %}
