{{ 'image-with-text-overlay.css' | asset_url | stylesheet_tag }}
<style>
  {%- for block in section.blocks -%}
    @media screen and (min-width: 990px) {
      #id_{{ block.id }} .image_overlay {
        max-width: {{ block.settings.image_overlay_width }}px;
      }
    }
    @media screen and (max-width: 768px) {
      #id_{{ block.id }} .image_overlay {
        max-width: {{ block.settings.image_overlay_mobile }}px;
      }
    }
  {%- endfor -%}
</style>
<div class="image-with-text-overlay" id="id_{{ section.id }}">
  <div class="image-with-text-overlay-svg corave-svg-des">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="1440"
      height="288"
      viewBox="0 0 1440 288"
      fill="none"
    >
      <path d="M58.4369 106.533C24.8731 115.333 5.49407 145.866 0 160.033V267H1439.95V20.0326C1441.11 11.5326 1424.16 -4.16736 1347.05 1.03264C1269.93 6.23264 1245.32 86.866 1242.66 126.533L1236.17 114.533C1231.84 104.033 1215.09 83.9326 1182.72 87.5326C1150.36 91.1326 1138.94 122.366 1137.27 137.533L1135.27 133.033C1129.78 110.366 1104.01 64.4326 1044.87 62.0326C985.736 59.6326 952.305 110.033 942.982 135.533L940.484 133.033C925.168 109.199 878.252 61.6326 813.122 62.0326C747.992 62.4326 708.069 119.866 696.248 148.533L693.251 145.033C684.095 134.533 654.893 113.733 611.34 114.533C567.787 115.333 542.248 166.199 534.922 191.533L533.424 189.533C526.432 180.699 505.055 161.233 475.487 154.033C445.918 146.833 419.547 162.033 410.057 170.533L408.559 167.033L393.575 133.033C380.423 111.699 337.835 67.4327 272.706 61.0327C207.576 54.6327 160.66 116.033 145.343 147.533L141.847 143.033C128.028 127.199 92.0007 97.7327 58.4369 106.533Z" fill="#FDF0D2" />
      <path d="M49.5326 141.533C15.3395 150.333 -4.40292 180.866 -10 195.033V288H1456.94V55.0326C1458.13 46.5326 1440.87 30.8326 1362.3 36.0326C1283.74 41.2326 1258.67 121.866 1255.96 161.533L1249.34 149.533C1244.93 139.033 1227.87 118.933 1194.9 122.533C1161.93 126.133 1150.29 157.366 1148.6 172.533L1146.56 168.033C1140.96 145.366 1114.71 99.4326 1054.46 97.0326C994.218 94.6326 960.161 145.033 950.663 170.533L948.118 168.033C932.514 144.199 884.719 96.6326 818.368 97.0326C752.017 97.4326 711.345 154.866 699.303 183.533L696.25 180.033C686.921 169.533 657.172 148.733 612.802 149.533C568.433 150.333 542.415 201.199 534.952 226.533L533.426 224.533C526.302 215.699 504.524 196.233 474.402 189.033C444.279 181.833 417.413 197.033 407.746 205.533L406.219 202.033L390.955 168.033C377.555 146.699 334.17 102.433 267.819 96.0327C201.468 89.6327 153.672 151.033 138.068 182.533L134.506 178.033C120.429 162.199 83.7257 132.733 49.5326 141.533Z" fill="#17146B" />
    </svg>
  </div>
  <div class="image-with-text-overlay-svg corave-svg-mob">
    <svg width="390" height="136" viewBox="0 0 390 136" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_495_312)">
      <path d="M-37.5265 50.2739C-53.3062 54.4267 -62.417 68.8357 -65 75.521V126H611.974V9.4536C612.522 5.44237 604.554 -1.96662 568.298 0.487313C532.043 2.94125 520.474 40.9929 519.222 59.712L516.169 54.0491C514.134 49.0941 506.26 39.6087 491.044 41.3075C475.828 43.0064 470.458 57.7457 469.676 64.903L468.736 62.7794C466.154 52.0828 454.037 30.4064 426.235 29.2738C398.433 28.1412 382.716 51.9255 378.332 63.9592L377.158 62.7794C369.957 51.5323 347.9 29.0851 317.28 29.2738C286.66 29.4626 267.891 56.566 262.333 70.0941L260.924 68.4424C256.619 63.4873 242.891 53.6716 222.415 54.0491C201.939 54.4266 189.932 78.4311 186.488 90.3862L185.783 89.4424C182.496 85.2738 172.446 76.0873 158.545 72.6896C144.644 69.2918 132.245 76.4648 127.784 80.4761L127.079 78.8244L120.035 62.7794C113.851 52.712 93.8295 31.8222 63.2095 28.802C32.5895 25.7817 10.5324 54.757 3.33142 69.6222L1.68771 67.4986C-4.80886 60.0267 -21.7469 46.121 -37.5265 50.2739Z" fill="#FDF0D2"/>
      <path d="M-41.0396 67.1083C-57.0989 71.2474 -66.3712 85.6089 -69 92.2723V136H619.974V26.4225C620.531 22.4244 612.422 15.0399 575.524 17.4857C538.626 19.9316 526.852 57.8579 525.577 76.5154L522.471 70.8711C520.4 65.9323 512.386 56.4782 496.9 58.1715C481.414 59.8648 475.95 74.5555 475.153 81.6893L474.197 79.5727C471.568 68.9113 459.237 47.3063 430.942 46.1774C402.647 45.0486 386.652 68.7545 382.191 80.7486L380.996 79.5727C373.667 68.3625 351.219 45.9893 320.056 46.1774C288.894 46.3655 269.791 73.3796 264.135 86.8632L262.702 85.2169C258.32 80.2782 244.348 70.4948 223.509 70.8711C202.67 71.2474 190.451 95.1728 186.945 107.088L186.229 106.148C182.883 101.993 172.655 92.8367 158.507 89.4501C144.36 86.0636 131.742 93.213 127.201 97.211L126.484 95.5648L119.315 79.5727C113.022 69.5384 92.6448 48.7174 61.482 45.7071C30.3193 42.6968 7.87128 71.5766 0.54261 86.3929L-1.13023 84.2762C-7.74195 76.8289 -24.9802 62.9691 -41.0396 67.1083Z" fill="#171467"/>
      </g>
      <defs>
      <clipPath id="clip0_495_312">
      <rect width="390" height="136" fill="white"/>
      </clipPath>
      </defs>
    </svg>
  </div>
  <div class="wrapper">
    <div class="inner-wrapper">
      {%- for block in section.blocks -%}
        <div class="grid-item grid-item--{{ forloop.index }}" id="id_{{ block.id }}">
          {%- if block.settings.image_overlay != blank -%}
            <div class="image_overlay {{ block.settings.image_position }} up-down-animation">
              <img
                src="{{ block.settings.image_overlay |  image_url: width: '800x'  }}"
                alt="{{ block.settings.image_overlay.alt }}"
              >
            </div>
            <div class="image_overlay mobile {{ block.settings.image_position_mobile }} up-down-animation">
              <img
                src="{{ block.settings.image_overlay |  image_url: width: '800x'  }}"
                alt="{{ block.settings.image_overlay.alt }}"
              >
            </div>
          {%- endif -%}
          <div class="main-grid">
            <div class="image_with_text--wrap {% if block.settings.checked %}image_right{% endif %}">
              {%- if block.settings.image != blank -%}
                <div class="image">
                  <img src="{{ block.settings.image |  image_url: width: '1200' }}" alt="{{ block.settings.image.alt }}">
                </div>
              {%- endif -%}
              <div class="image_content__wrap">
                <div class="image_content">
                  {%- if block.settings.image_left != blank -%}
                    <div class="image_left">
                      <img
                        src="{{ block.settings.image_left |  image_url: width: '1200x' }}"
                        alt="{{ block.settings.image_left.alt}}"
                      >
                    </div>
                  {%- endif -%}
                  <div class="content">
                    {%- if block.settings.title != blank -%}
                      <h2 class="title">{{ block.settings.title }}</h2>
                    {%- endif -%}
                    {%- if block.settings.text != blank -%}
                      <div class="text">{{ block.settings.text }}</div>
                    {%- endif -%}
                    {%- if block.settings.button_text != blank -%}
                      <a href="{{ block.settings.button_url }}" class="button_text">{{ block.settings.button_text }}</a>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
    <div class="background_svg">
      <svg xmlns="http://www.w3.org/2000/svg" width="2495" height="2523" viewBox="0 0 2495 2523" fill="none">
        <g opacity="0.24">
        <path d="M1178.11 0.000185533L1229.64 1142.57L1059.89 13.029L936.096 37.9436L1207.04 1148.36L822.625 74.0581L705.99 122.897L1185.94 1158.49L601.711 180.65L496.755 251.584L1167.26 1172.66L405.586 328.842L316.301 419.129L1151.66 1190.19L241.86 512.844L171.713 618.979L1139.76 1210.45L116.711 725.647L68.4139 843.591L1131.92 1232.7L35.0357 959.021L10.473 1084.2L1128.6 1256.01L-5.06607e-05 1203.98L-4.57562e-05 1331.67L1129.81 1279.56L12.8841 1451.22L37.5222 1576.4L1135.61 1302.41L73.2361 1691.14L121.533 1809.09L1145.63 1323.75L178.645 1914.54L248.792 2020.67L1159.57 1342.64L325.192 2112.86L414.402 2203.15L1176.98 1358.42L507.152 2278.43L612.109 2349.36L1197.02 1370.45L717.593 2404.98L834.228 2453.82L1219.02 1378.38L948.377 2487.57L1072.17 2512.41L1242.08 1381.73L1190.61 2523L1316.89 2523L1265.36 1380.51L1435.11 2509.97L1558.9 2485.06L1287.96 1374.64L1672.37 2448.94L1789.01 2400.1L1309.06 1364.51L1893.29 2342.35L1998.24 2271.42L1327.74 1350.42L2089.41 2194.16L2178.7 2103.95L1343.34 1332.82L2253.14 2010.16L2323.29 1904.02L1355.24 1312.55L2378.29 1797.35L2426.59 1679.41L1363 1290.3L2459.96 1563.98L2484.53 1438.8L1366.4 1266.99L2495 1319.02L2495 1191.33L1365.11 1243.44L2482.12 1071.78L2457.48 946.601L1359.39 1220.59L2421.76 831.857L2373.47 713.913L1349.37 1199.25L2316.35 608.464L2246.21 502.33L1335.35 1180.36L2169.81 410.138L2080.52 319.851L1318.02 1164.58L1987.85 244.574L1882.89 173.64L1297.98 1152.55L1777.41 118.02L1660.77 69.1823L1275.98 1144.7L1546.62 35.5055L1422.83 10.5907L1252.92 1141.27L1304.39 0.000179251L1178.11 0.000185533Z" fill="url(#paint0_radial_638_8)" style="mix-blend-mode:screen"/>
        </g>
        <defs>
        <radialGradient id="paint0_radial_638_8" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1247.5 1261.5) rotate(-90) scale(1261.5 1247.5)">
        <stop offset="0.285" stop-color="#393684"/>
        <stop offset="0.95" stop-color="#17146B"/>
        </radialGradient>
        </defs>
      </svg>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Image With Text Overlay",
  "blocks": [
    {
      "name": "Image With Text",
      "type": "image-with-text",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_left",
          "label": "Image Second"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Url"
        },
        {
          "type": "checkbox",
          "id": "checked",
          "label": "Image Right"
        },
        {
          "type": "image_picker",
          "id": "image_overlay",
          "label": "Image Overlay"
        },
        {
          "type": "select",
          "id": "image_position",
          "label": "Image Overlay Position",
          "options": [
            {
              "label": "Top To Right",
              "value": "top-to-right"
            },
            {
              "label": "Top To Left",
              "value": "top-to-left"
            },
            {
              "label": "Bottom To Right",
              "value": "bottom-to-right"
            },
            {
              "label": "Bottom To left",
              "value": "bottom-to-left"
            }
          ]
        },
        {
          "type": "header",
          "content": "Mobile",
          "info": "------------------"
        },
        {
          "type": "select",
          "id": "image_position_mobile",
          "label": "Image Overlay Position ",
          "options": [
            {
              "label": "Top To Right",
              "value": "top-to-right"
            },
            {
              "label": "Top To Left",
              "value": "top-to-left"
            },
            {
              "label": "Bottom To Right",
              "value": "bottom-to-right"
            },
            {
              "label": "Bottom To left",
              "value": "bottom-to-left"
            }
          ]
        },
        {
          "type": "range",
          "id": "image_overlay_width",
          "min": 3,
          "max": 297,
          "step": 3,
          "unit": "px",
          "label": "Image Overlay Width",
          "default": 30
        },
        {
          "type": "header",
          "content": "Mobile",
          "info": "-----------"
        },
        {
          "type": "range",
          "id": "image_overlay_mobile",
          "min": 3,
          "max": 297,
          "step": 3,
          "unit": "px",
          "label": "Image Overlay Width",
          "default": 30
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image With Text Overlay"
    }
  ]
}
{% endschema %}
